.dairy-invoice{
    margin: 2% 15% 2% 15%;
    border: 2px solid grey;
    padding: 0.5% 1%;
}
h1 {
    font-size: 2rem;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: grey;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 22px;
        padding-bottom: 2%;
    }
    .dairy-invoice{
        margin: 3%;
        padding: 2%;
    }
}

.border-div{ 
    border: 1px solid black;
    padding: 1%;
}
 
  .custom-button:active {
    transform: translateY(1.5px);
  }