.dairy-invoice{
    margin: 2% 15% 2% 15%;
    border: 2px solid grey;
    padding: 0.5% 1%;
}
h1 {
    font-size: 1.3rem;
    text-decoration-thickness: 1px;
    text-decoration-color: grey;
    margin-bottom: 0px;
}

.owner {
    font-size: 12px;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 22px;    
    }
    .dairy-invoice{
        margin: 3%;
        padding: 2%;
    }
}

.border-div{ 
    border: 1px solid black;
    padding: 1%;
}

.custom-button {
    margin-left: 14%;
    border-radius: 50%;
}
 
  .custom-button:active {
    transform: translateY(1.5px);
  }

.small-font {
    font-size: 10px;
}